body {
    width: 100%;
    height: 100%;
    margin 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
    font-family: "Helvetica Neue", Lato;
}

img {
    width: 50%;
}

iframe {
    padding-bottom: 10px;
}

.cent
{  
    height: 100%;
    display: table-cell;   
    vertical-align: middle;    
}

.navbar-custom {
    background-color: #ffffff;
    border-bottom: 2px solid #08154A;
}

.navbar-light .navbar-brand {
    color: #08154A;
    font-size: 25px;
    font-weight: 300;
}


.fa-bars {
    color: #D51635;
}


nav .navbar-nav li a {
    color: #08154A !important;
    font-size: 17px;
    font-weight: 200;
}

nav .navbar-nav li a:hover {
    color: #D51635 !important;
}


.home-banner {
    text-align: left;
    height: 92vh;
    width: 100%;
    padding: 28vh 20px 150px 10px;
    color: #000000;
}

.home-banner a {
    margin: 20px 20px 0px 0px;
    padding: 12px 0px;
    background-color: #ffffff;
    border-color: #08154A;
    border-radius: 20px;
    color: #08154A;
    font-size: 20px;
    font-family: "Helvetica Neue", Lato;
}

.custom {
    width: 170px !important;
}

.home-banner a:hover {
    border-color: #D51635;
    color: #D51635;
}

.home-banner h1 {
    font-size: 55px;
    color: #D51635;
    padding-bottom: 10px;
    font-weight: 600;

}

.home-banner h3 {
    font-weight: 300;
    font-size: 27px;

}

.padding {
    padding: 30px 0px 0px 0px;
}

.title-background {
    background-color: #D51635;
    width: 250px;
    margin-top: 40px;
    padding: 5px 0px 5px 60px;
    color: #ffffff;
    font-size: 35px;
}

.portfolio-section {
    padding: 0px 40px;
}


.portfolio-section h4 {
    font-size: 25px;
    font-weight: 600;
    padding: 0px 20px;
}

.portfolio-section p{
    font-weight: 300;
    font-size: 20px;
    margin-top: -5px;
    padding: 0px 3px;
}

.portfolio-section .img1 {
    width: 100%;
    height: auto;
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.portfolio-section .img2 {
    width: 100%;
    height: auto;
    max-width: 325px;
    padding-top: 50px;
}

.portfolio-section .img3 {
    width: 100%;
    height: auto;
    max-width: 350px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.portfolio-section .img4 {
    width: 100%;
    height: auto;
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.portfolio-section a:hover {
    opacity: 0.3;
}

.about-section {
    padding: 30px 0px ;
}


.about-section img {
    width: 90%;
    padding-bottom: 10px;
}

.profile {
    padding-bottom: 30px;
}


.about-section p {
    font-size: 20px;
    text-align: left;
    padding: 0px 25px;
    font-weight: 400;
    margin-top: -5px;
}

.about-section ul {
    list-style: none;
    text-align: left;
}

.about-section li {
    font-weight: 600;
}

.about-section h4 {
    text-align: left;
    margin-left: 40px;
    font-weight: 700;
}


.about-section .software li{
    display: inline;
    margin-right: 3px;
}

.about-section .software img {
    height: auto;
    width: auto;
    max-height: 70px;
    padding-right: 3%;
    padding-top: 15px;
}

.contact-section {
    background-color: #08154A;
    height: 280px;
    color: #ffffff;
    padding: 45px 0px;
    width: 100%
}

.contact-section h1 {
    font-size: 40px;
    padding-bottom: 40px;
    font-weight: 600;
}

.contact-section a:hover{
    color: #D51635;
    text-decoration: none;
}
.contact-section ul {
    list-style: none;
    padding-top: 35px;
}

.contact-section li {
    padding: 0px 42px;
}

.contact-section a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.sub-banner {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 100px 30px 50px 30px;
    color: black; 
}

.sub-banner h1 {
    font-size: 25px;
    padding: 0px 50px;
    font-weight: 600;
}

.sub-banner h3 {
    font-weight: 300;
    font-size: 15px;
    color:#08154A;
}


.sub-banner img {
    height: auto;
    max-width: 400px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.content-section {
    padding: 0px 25px 0px 25px;
    text-align: left;
}

.content-section h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

.content-section h2 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
}

.content-section h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.content-section p {
    font-size: 15px;
    padding-bottom: 10px;
}

.content-section ul {
    list-style: none;
    margin-left: -40px;
}

.content-section li {
    font-size: 15px;
}

.content-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    padding-bottom: 10px;
}

.content-section a:hover {
    text-decoration: none;
}

.content-section .img1 {
    height: auto;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 20px;
}

.content-section .img2 {
    height: auto;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 20px;
}


.content-section2 {
    padding: 200px 0px 200px 0px;
    text-align: center;
}

.social-media li{
    display: inline;
    text-align: center;
    margin-left: -60px;
    margin-right: -15px;
}

.social-media i {
    color: #D51635;
}
.social-media i:hover {
    color: #ffffff;
}

footer {
    height: 60px;
    padding: 15px;
    font-weight: 200;
    font-size: 15px;
}


@media screen and (min-width: 768px) {
.navbar-light .navbar-brand{
    color: #08154A;
    font-size: 25px;
    font-weight: 300;
    margin-left: -15px;
}


nav .navbar-nav li a {
    color: #08154A !important;
    font-size: 18px;
    font-weight: 00;
}
    
.home-banner h1 {
    font-size: 60px;
}


.home-banner h3 {
    font-size: 30px;
    padding-right: 50px;

}

.home-banner a {
    margin: 25px 30px 0px 0px;
    padding: 12px 0px;
    border-radius: 20px;
    font-size: 25px;
}
    

.custom {
    width: 200px !important;
}

.portfolio-section .img1 {
    max-width: 300px;
    padding-top: 50px;
}

.portfolio-section .img2 {
    max-width: 350px;
    padding-top: 35px;
    padding-bottom: 7px;
}
.portfolio-section .img3 {
    max-width: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}
    
.portfolio-section .img4 {
    max-width: 300px;
    padding-top: 50px;
}

.about-section img {
    height: auto;
    max-width: 400px;
}
    
.about-section p {
    padding-right: 30px;
    margin-left: -40px;
}

.sub-banner {
    padding-top: 125px;  
}
    
.content-section {
    padding: 0px 150px 0px 150px; 
}
    
.sub-banner h1 {
    font-size: 35px;
}

.sub-banner h3 {
    font-size: 20px;
    padding: 0px 100px;
}
    
.content-section h1 {
    font-size: 30px;
}

.content-section h2 {
    font-size: 20px;
}

.content-section h3 {
    font-size: 30px;
}

.content-section p {
    font-size: 17px;
}

.content-section li {
    font-size: 17px;
}
    
}


@media screen and (min-width: 1024px) {
.home-banner h1 {
    font-size: 67px;
}

.home-banner h3 {
    padding-right: 50px;
    font-size: 35px;
}


.home-banner a {
    margin: 30px 30px 0px 0px;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 25px;
}

.custom {
    width: 250px !important;
}

    
.about-section p {
    margin-left: -100px;
    padding-right: 100px;
}

    
.about-section .software {
    margin-right: -200px;
}

.about-section .padding-left {
    margin-left: 7vw;  
}
    
.sub-banner h1 {
    font-size: 35px;
}

.sub-banner h3 {
    font-size: 20px;
    padding: 0px 300px;
}

.content-section {
    padding: 0px 250px 0px 250px; 
}
    
.content-section h1 {
    font-size: 35px;
}

.content-section h2 {
    font-size: 25px;
}

.content-section h3 {
    font-size: 35px;
}

.content-section p {
    font-size: 20px;
}

.content-section li {
    font-size: 20px;
}
    
}

@media screen and (min-width: 1500px) {
.home-banner {
    padding-left: 15px; 
}
    
.home-banner h1 {
    font-size: 90px;
}

.home-banner h3 {
    padding-right: 200px;
    font-size: 40px;
}


.home-banner a {
    font-size: 30px;
}
    
.custom {
    width: 300px !important;
}
    
.title-background {
    width: 300px;
    margin-top: 40px;
    padding: 5px 0px 5px 60px;
    font-size: 50px;
}

.portfolio-section {
    padding: -100px
}


.portfolio-section h4 {
    font-size: 25px;
    font-weight: 600;
    padding: 0px 20px;
}

.portfolio-section p{
    font-weight: 300;
    font-size: 20px;
    margin-top: -5px;
    padding: 0px 3px;
}

.portfolio-section .img1 {
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.portfolio-section .img2 {
    max-width: 425px;
    padding-top: 50px;
}

.portfolio-section .img3 {
    max-width: 450px;
    padding-top: 120px;
    padding-bottom: 10px;
}
    
.portfolio-section .img4 {
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
}
    
.about-section p {
    font-size: 35px;
    text-align: left;
    font-weight: 400;
    margin-top: -5px;
    margin-left: -150px;
}

.about-section {
    padding: 50px 0px ;
}

.profile {
    max-width: 100%;    
}
    

.profile {
    padding-bottom: 30px;
}
    
.about-section ul {
    margin-left: -80px;
    padding-right: 200px;
}

.about-section li {
    font-weight: 600;
    font-size: 25px;
}

.about-section h4 {
    text-align: left;
    font-size: 70px;
    padding-top: 40px;
    margin-left: -40px;
}
    

.about-section img {
    max-width: 60%;
    margin-left: -100px;
}
    
.about-section .software li{
    display: inline;
    margin-right: 3px;
}

.about-section .software img {
    max-height: 90px;
    margin-left: 0px;
    
}

.social-media li{
    display: inline;
    text-align: center;
    margin-left: -60px;
    margin-right: -15px;
}
 
.contact-section {
    height: 350px;
    padding: 50px 0px;
    width: 100%
}

.contact-section h1 {
    font-size: 65px;
    padding-bottom: 40px;
    font-weight: 600;
}

    
.contact-section ul {
    list-style: none;
    padding-top: 35px;
}

.contact-section li {
    padding: 0px 42px;
}

.contact-section a {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
    
footer {
    height: 60px;
    padding: 15px;
    font-weight: 200;
    font-size: 20px;
}
}

